name: test

on:
    push:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: ['14', '16', '18']
        name: Test with Node v${{ matrix.node }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}
                  cache: npm
                  cache-dependency-path: '**/package-lock.json'
            - run: npm ci
            - run: npm test
